<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/fontawesome.min.css" integrity="sha512-UuQ/zJlbMVAw/UU8vVBhnI4op+/tFOpQZVT+FormmIEhRSCnJWyHiBbEVgM4Uztsht41f3FzVWgLuwzUqOObKw==" crossorigin="anonymous" referrerpolicy="no-referrer" />*@
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Include locally hosted TinyMCE CSS -->
    <link href="~/Scripts/tinymce/skins/ui/oxide/skin.css" rel="stylesheet" />
    <!-- Include locally hosted TinyMCE JavaScript -->
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'advlist autolink lists link image charmap print preview anchor',
            toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
            skin: 'oxide',
            content_css: 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'
        });
    </script>
</head>
<body>


    <nav class="navbar navbar-expand-md bg-success navbar-dark col-12">
        <a class="navbar-brand" href="/Home/Index" style="padding-left: 30px">Company</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item m-1">
                    <a class="nav-link" href="/Home/Index">Trang chủ</a>
                </li>
                <li class="nav-item m-1">
                    <a class="nav-link" href="/News/Index">Tin tức</a>
                </li>
                <li class="nav-item m-1">
                    <a class="nav-link" href="#">Tra cứu điểm</a>
                </li>
                <li class="nav-item m-1">
                    <a class="nav-link" href="#">Thông tin học phần</a>
                </li>
                <li class="nav-item m-1">
                    <a class="nav-link" href="#">Tra cứu lịch công tác</a>
                </li>
                <li class="nav-item m-1">
                    <a class="nav-link" href="#">Thông tin giảng viên</a>
                </li>
                <li class="nav-item m-1">
                    <a class="nav-link" href="/Documents/Index">Văn bản pháp quy</a>
                </li>
                <li class="nav-item m-1">
                    <a class="nav-link" href="#">Giới thiệu</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>

    <div class="container-fluid bg-success text-white">
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 mt-5 border-top text-white">
            <div class="col mb-3 text-white">
                <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none text-white">
                    @*<svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>*@
                    <h1>COMPANY</h1>
                </a>
                <p class="text-body-secondary">© 2024</p>
            </div>

            <div class="col mb-3 text-white">

            </div>

            <div class="col mb-3 text-white">
                <h5>Dịch vụ</h5>
                <ul class="nav flex-column text-white">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Dịch vụ</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Dịch vụ</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Dịch vụ</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Dịch vụ</a></li>
                </ul>
            </div>

            <div class="col mb-3 text-white">
                <h5>Hỗ trợ</h5>
                <ul class="nav flex-column text-white">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Liên hệ</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Chính sách</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Bản quyền</a></li>
                </ul>
            </div>

            <div class="col mb-3">
                <h5>Liên hệ</h5>
                <ul class="nav flex-column text-white">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Địa chỉ công ty</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Email: info@company.com</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Điện thoại: +123456789</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Fax: +987654321</a></li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>

