@model MVCPJ_BaiTapTrenLop.Models.Score

@{
    ViewBag.Title = "Chi tiết điểm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>Chi tiết điểm</h2>

<table class="table">
    <tr><th>Môn học:</th><td>@Html.DisplayFor(model => model.SubjectName)</td></tr>
    <tr><th>Lớp học:</th><td>@Html.DisplayFor(model => model.ClassName)</td></tr>
    <tr><th>Ảnh điểm:</th><td><img src="@Html.DisplayFor(model => model.ScoreImage)"/></td></tr>
</table>


<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
