<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet"/>
    @*<link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.rtl.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.rtl.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-utilities.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-utilities.rtl.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.rtl.css" rel="stylesheet" />*@
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-success navbar-dark">
        <a class="navbar-brand" href="#" style="padding-left: 30px">Company</a>
        <div class="col-8">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Index">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Categories/Index">Danh mục</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Brands/Index">Thương hiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Products/Index">Sản phẩm</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        @RenderBody()
    </div>

    
</body>
</html>
