
@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "This is an ASP.NET MVC Project";
}
@section SideBar{
    <a href="#" class="list-group-item text-white"
       style="background-color: transparent">Contact companies</a>
    <a href="#" class="list-group-item text-white"
       style="background-color: transparent">Contact founders</a>
    <a href="#" class="list-group-item text-white"
       style="background-color: transparent">Contact Teams</a>
}
<h2>Trang liên hệ</h2>

