
@{
    ViewBag.Title = "Index";
    ViewBag.Message = "Hello";
}

@section SideBar{
    <a href="#" class="list-group-item text-white"
       style="background-color: transparent">Admin home</a>
    <a href="#" class="list-group-item text-white"
       style="background-color: transparent">Agent home</a>
    <a href="#" class="list-group-item text-white"
       style="background-color: transparent">Customer home</a>
}

<h2>Trang chủ</h2>

