
@{
    ViewBag.Title = "Profile";
    ViewBag.Message = "Profile";
}
@*@section SideBar{
    <a href="#" class="list-group-item text-white"
       style="background-color: transparent">Profile companies</a>
    <a href="#" class="list-group-item text-white"
       style="background-color: transparent">Profile founders</a>
    <a href="#" class="list-group-item text-white"
       style="background-color: transparent">Profile Teams</a>
}*@
<h2>Trang hồ sơ</h2>

